@font-face {
  font-family: 'walterregular';
  src: url('walter-regular-webfont.woff2') format('woff2'),
       url('walter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* This is the body of the website, being applied to everything */
body  {
  margin: 0px;
  padding: 0px;
  background-color: AliceBlue;
}

/* The flex container is basically everything in the website */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* This applies to all divs in the flex container */
.flex-container > div {
  text-align: center;
}

/* Applies to the title, duh */
.title  {
  font-family: 'walterregular';
  font-size: 100px;

  padding-top: 20px;
  padding-bottom: 20px;
}

/* Applies to the top, duh */
.top  {
  font-family: arial;
  font-size: 24px;

  margin: 35px;
}

/* Applies to the different middle sections */
.middletop  {
  font-family: arial;
  font-size: 40px;

  margin: 75px;
}

.button1 {
  background-color: LawnGreen;
  font-size: 25px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 30px;
}


.middlemid  {
  font-family: arial;
  font-size: 40px;

  margin-bottom: 150px;
}

/* A lot of slider stuff, dont know what half of it does but it works :) */
.slider {
  -webkit-appearance: none;
  width: 45%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.middlebottom  {
  font-family: arial;
  font-size: 40px;
  margin-bottom: 75px;
}

.middlebottom > button  {
  background-color: grey;
  font-size: 25px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 20px;
}
/* /////////////////////////////////////// */

/* Applies to the bottom, duh */
.bottom  {
  font-family: arial;
  font-size: 20px;

  margin: 75px;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.config-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* This applies to all divs in the flex container */
.config-container > div {
  text-align: center;
}

.config-title  {
  font-family: 'walterregular';
  font-size: 60px;

  padding-top: 20px;
  padding-bottom: 20px;
}
